.tableAreaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.processAreaContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 98%;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}